<!-- Details page -->
<div class="bg-[#23b38c] h-screen w-screen flex items-center justify-center">
  <div class="max-h-[75vh] w-3/4 bg-white shadow-xl p-8 rounded-xl overflow-auto">
    <h1 class="text-3xl font-bold mb-8">{{ title }}</h1>

    <!-- <router-outlet></router-outlet> -->
    <div class="flex flex-wrap justify-center gap-4">
      <app-card 
        *ngFor="let card of cards"
        [imgUrl]="card.images.small"
        [name]="card.name"
        [rarity]="card.rarity"
        [pkmnNr]="card.nationalPokedexNumbers ? +card.nationalPokedexNumbers : 0"
        [artist]="card.artist"
        [price]="card.cardmarket?.prices?.averageSellPrice"
        size="md"
      />
    </div>
  </div>
</div>
